server:
  servlet:
    encoding:
      charset: utf-8
      force: true
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:test;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
      use_sql_comments: true
    properties:
      hibernate:
        dialect=org:
          hibernate:
            dialect:
              MariaDBDialect:
        highlight_sql: true
        format_sql: true
      default_batch_fetch_size: 100
    open-in-view: false

  sql:
    init:
      encoding: utf-8
logging.level:
  org.hibernate.SQL: debug
springdoc:
  use-fqn: true
  # org.hibernate.type: trace